{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "env": {
    "browser": true
  },
  "globals": {
    "it": true,
    "fetch": true,
    "window": true
  },
  "rules": {
    "no-debugger": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "react/no-did-mount-set-state": 2,
    "jsx-a11y/href-no-hash": 2,
    "react/no-unused-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-boolean-value": 2,
    "react/jsx-no-bind": 2,
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
