.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    margin: 20px;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.mB5 {
    margin-bottom: 5px;
}

.mB10 {
    margin-bottom: 10px;
}

.mB15 {
    margin-bottom: 15px;
}

.mB20 {
    margin-bottom: 20px;
}

.mR5 {
    margin-right: 5px;
}

.mR10 {
    margin-right: 10px;
}

.mR15 {
    margin-right: 15px;
}

.mR20 {
    margin-right: 20px;
}

body {
    height: 100vh;
}

.App {
    text-align: center;
}

.header__logo {
    /* animation: App-logo-spin infinite 40s linear; */
    height: 60px;
    float: left;
}

.header {
    background-color: #222;
    color: white;
    box-shadow: 3px 3px 3px #999;
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 9999;
}

.header__username {
    font-size: 18px;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.body-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}

.app__description {
    /* height: 100%;
    background: url('/images/campus.jpg') no-repeat;
    background-size: cover; */
}

.login {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
}

.dashboard {
    padding: 30px;
}

.dashboard__item {
    text-align: center;
}

.dashboard__thumbnail {
    width: 128px;
}

.assessment {
    width: 80%;
    margin: 0 auto;
}

.question-paper {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.question {
    padding: 15px;
}

.question__text {
    padding-bottom: 10px;
}

.question__text {
    padding-bottom: 10px;
}

.question__option {
    /*padding-bottom: 5px;*/
}

.question__title {
    padding-left: 10px;
}

.question__label {
    font-weight: normal;
    padding-left: 15px;
}

.question__no {
    padding-right: 15px;
}

.question-paper__actions {
    padding: 15px 0;
}

.question-paper__body {
    min-height: 300px;
}

.create-question-modal {
    width: 70%;
}

/* add-question-modal */

.add-question-modal {
    min-width: 900px;
}


/* DataGrid */

.table-wrapper {
    width: 70%;
    max-height: 250px;
    overflow: scroll;
    margin: 0 auto;
}

.datagrid {
    width: 100%;
}

.datagrid__header-row {
    height: 30px;
}

.datagrid__body-row {
    height: 30px;
}

.datagrid__header-cell,
.datagrid__body-cell {
    padding: 10px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    text-align: left;
}

.admin-dashboard__content {
    padding: 20px;
    display: flex;
    justify-content: center;
}
